<section class="image-banner w-full">
  <div class="image-wrap">
    <div class="image w-full aspect-w-16 aspect-h-14 sm:aspect-h-9">
      {% if section.settings.show_video == true %}
        <video
          class="video object-cover w-full h-full"
          autoplay muted playsinline
          {% if section.settings.loop_video == true %}loop{% endif %}
        >
          <source src="{{ section.settings.vimeo_link }}">
        </video>
      {% else %}
        <img
          src="{{ section.settings.image | img_url: 'master', scale: 2 }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
          alt="{{ section.settings.image.alt | escape }}"
          loading="lazy"
          class="object-cover w-full h-full">
      {% endif %}
    </div>
    <div class="message flex flex-col place-content-center text-center">
      <div data-aos="fade-block">
        {% if section.settings.subheading %}
          <p class="sub-title mb-5">{{ section.settings.subheading | escape }}</p>
        {% endif %}

        {% if section.settings.message %}
          <p>{{ section.settings.message }}</p>
        {% endif %}

        {%- if section.settings.button_link -%}
          <a href="{{ section.settings.button_link }}" class="btn btn--border mt-8 mx-auto">
            {{ section.settings.button_text }}

            {% render 'icon-btn-arrow' %}
          </a>
        {%- endif -%}

        {%- if section.settings.show_logo == true -%}
          <div class="w-12 sm:w-14 md:w-20 mx-auto mt-3 sm:mt-4 md:mt-5">
            {% render 'icon-brand' %}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Image Banner",
    "settings": [
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "textarea",
        "id": "message",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
      },
      {
        "type": "checkbox",
        "id": "show_logo",
        "label": "Show Logo"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "checkbox",
        "id": "show_video",
        "label": "Show Video",
        "default": false
      },
      {
        "type": "text",
        "id": "vimeo_link",
        "label": "Vimeo Link"
      },
      {
        "type": "checkbox",
        "id": "loop_video",
        "label": "Loop Video",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Image Banner"
      }
    ]
  }
{% endschema %}
