{%- paginate blog.articles by 6 -%}
    <div class="main-blog container py-32">
        {%- if blog.tags.size > 0 -%}
            <label class="blog-tag--filter-container container">
                <span class="label">Filter: </span>

                <select id="BlogTagFilter">
                    <option value="/blogs/{{ blog.handle }}">Flavor</option>
                    {%- for tag in blog.all_tags -%}
                        {% if tag contains '_' %}
                            {%- assign tag_starts_with = tag | slice: 0 -%}
                            {% if tag_starts_with == '_' -%}
                                {%- if tag_count %}
                                    {%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}
                                {% endif -%}
                                {%- continue -%}
                            {%- endif -%}
                        {%- endif %}
                        <option value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}"
                                {% if current_tags contains tag %}
                                    selected
                                {% endif %}
                        >
                            {{ tag }}
                        </option>
                    {%- endfor -%}
                </select>
            </label>
        {%- endif -%}

        <div class="blog-articles">
            {%- for article in blog.articles -%}
              <a href="{{ article.url }}" class="blog-article--card">
                <div class="image--container">
                  <img src="{{ article.image.src | img_url: 'master' }}" alt="{{ article.image.alt }}">
                </div>

                <div class="blog-article--content rte">
                  <h3>{{ article.title }}</h3>
                </div>
              </a>
            {%- endfor -%}
        </div>

        {%- if paginate.pages > 1 -%}
            {%- render 'pagination', paginate: paginate -%}
        {%- endif -%}
    </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Blog Grid",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
  ]
}
{% endschema %}
