{% liquid
  assign subheading = section.settings.subheading
  assign productTitle = product.title
  assign description = product.description
  assign productPrice = product.price | money
  assign button_text = section.settings.button_text
  assign button_link = section.settings.button_link
%}

<section class="main--product">
  <div class="product--media-container">
    <div class="productSlider swiper {{ section.id }}">
      <div class="swiper-wrapper">
        {%- for image in product.images -%}
          <div class="product--slideshow--image swiper-slide">
            <div class="image--container">
              <img src="{{ image.src | img_url: 'master' }}" alt="{{ product.title }}">
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <div class="thumbSlider swiper {{ section.id }}">
      <div class="swiper-wrapper">
        {%- for image in product.images -%}
          <div class="product--slideshow--image swiper-slide">
            <div class="image--container">
              <img src="{{ image.src | img_url: 'master' }}" alt="{{ product.title }}">
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <div class="product--details-container container rte">
    {% if subheading != blank %}
      <p class="sub-title">{{ subheading }}</p>
    {% endif %}

    {% if productTitle != blank %}
      <h1 class="title">{{ productTitle }}</h1>
    {% endif %}

    {% if productPrice != blank %}
      <p class="price sub-title">{{ productPrice }}</p>
    {% endif %}

    {% if description != blank %}
      <div class="description">{{ description }}</div>
    {% endif %}

    {% if button_text != blank or button_link != blank %}
      <a href="{{ button_link }}" class="btn">
        {{ button_text }}
      </a>
    {% endif %}

    <div class="flavors--container">
      <h2 class="flavor--title">
        Flavor: {{ product.title }}
      </h2>

      <div class="flavor--list">
        {% for block in section.blocks %}
          {% liquid
            assign active_class = ''

            if request.path == block.settings.link
              assign active_class = 'active'
              assign activeAccent = block.settings.accent
            endif
          %}

          <a href="{{ block.settings.link }}" class="flavor--item {{ block.id }} {{ active_class }}" style="--accent-color: {{ block.settings.accent | color_to_rgb }}">
            <div class="flavor--image--container">
              <img src="{{ block.settings.image | img_url: 'master' }}" alt="Go to {{ block.settings.url }}">
            </div>

            <p class="flavor--name">{{ block.settings.title }}</p>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="product--form">
      <div class="size-quantity--container">
        <div class="quantity rte">
          <span class="quantity--title sub-title">Quantity</span>

          <label>
            <input type="text" name="quantity" min="1" value="1">
          </label>

          <div class="plus-minus-quantity--selector">
            <button type="button" class="minus">
              <svg width="50" height="38" viewBox="0 0 50 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 0.5C3.41015 0.5 0.5 3.41015 0.5 7V31C0.5 34.5899 3.41015 37.5 7 37.5H43C46.5899 37.5 49.5 34.5899 49.5 31V7C49.5 3.41015 46.5899 0.5 43 0.5H7Z" fill="white"/>
                <path d="M7 0.5C3.41015 0.5 0.5 3.41015 0.5 7V31C0.5 34.5899 3.41015 37.5 7 37.5H43C46.5899 37.5 49.5 34.5899 49.5 31V7C49.5 3.41015 46.5899 0.5 43 0.5H7Z" stroke="var(--page-accent)"/>
                <path d="M31.334 19H19.334" stroke="var(--page-accent)" stroke-width="1.5"/>
              </svg>
            </button>

            <label>
              <input type="number" name="quantity" value="1" class="quantity--input">
            </label>

            <button type="button" class="plus">
              <svg width="50" height="38" viewBox="0 0 50 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 0.5C3.41015 0.5 0.5 3.41015 0.5 7V31C0.5 34.5899 3.41015 37.5 7 37.5H43C46.5899 37.5 49.5 34.5899 49.5 31V7C49.5 3.41015 46.5899 0.5 43 0.5H7Z" fill="white"/>
                <path d="M7 0.5C3.41015 0.5 0.5 3.41015 0.5 7V31C0.5 34.5899 3.41015 37.5 7 37.5H43C46.5899 37.5 49.5 34.5899 49.5 31V7C49.5 3.41015 46.5899 0.5 43 0.5H7Z" stroke="var(--page-accent)"/>
                <path d="M31.334 19H19.334" stroke="var(--page-accent)" stroke-width="1.5"/>
                <path d="M25.334 13V25" stroke="var(--page-accent)" stroke-width="1.5"/>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="atc--container">
        <input type="button" value="Add to cart" class="btn" data-id="{{ product.selected_or_first_available_variant.id }}">

        {% if section.settings.disclaimer != blank %}
          <div class="disclaimer--container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="disclaimer--svg">
              <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
            </svg>

            <span class="disclaimer--text">
              {{ section.settings.disclaimer }}
            </span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% comment %}Search each article and check if any have this product as a {% endcomment %}
{% liquid
  assign has_article = false

  for article in blogs['recipes'].articles
    if has_article
      break
    endif

    for associated_product in article.metafields.custom.associated_product.value
      if associated_product.id == product.id
        assign has_article = true
        break
      endif
    endfor
  endfor
%}

{% if has_article %}
  <div class="main--product-recipes container rte">
    <h2 class="text">{{ section.settings.recipes_heading }}</h2>

    <div class="recipes--container">
      {% assign count = 0 %}
      {% for recipe in blogs['recipes'].articles %}
        {% liquid
          if count == 3
            break
          endif

          assign is_associated = false

          for associated_product in recipe.metafields.custom.associated_product.value
            if is_associated
              break
            endif

            if associated_product.id == product.id
              assign is_associated = true
              break
            endif
          endfor

          unless is_associated
            continue
          endunless

          assign count = count | plus: 1
        %}

        <a href="{{ recipe.url }}" class="recipe--item">
          <div class="recipe--image--container">
              <img src="{{ recipe.image | img_url: 'master' }}" alt="{{ recipe.title }}">
          </div>

          <h3>{{ recipe.title }}</h3>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if activeAccent %}
  <style>
    :root {
      --page-accent: {{ activeAccent | color_to_rgb }};
      --page-accent-2: rgba({{ activeAccent.rgb | replace: ' ', ', ' }}, 0.5);
    }
  </style>
{% else %}
  <style>
    :root {
      --page-accent: #000;
      --page-accent-2: #A9ADAE;
    }
  </style>
{% endif %}

<script>
  window.mt_productVariants = {{ product.variants | json }};

  const thumbSlider = new Swiper('.{{ section.id }}.thumbSlider', {
    spaceBetween: 10,
    slidesPerView: 4,
    slidesPerGroup: 1,
    loop: true,
    freeMode: false,
    watchSlidesProgress: true,
    slideToClickedSlide: true,
    grabCursor: true,
    arrows: false,
    navigation: {
      enabled: false,
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  const productSlider = new Swiper('.{{ section.id }}.productSlider', {
    loop: true,
    slidesPerView: 1,
    autoHeight: true,
    grabCursor: true,
    navigation: {
      enabled: false,
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    thumbs: {
      swiper: thumbSlider
    }
  });
</script>

{% schema %}
{
  "name": "Main Product",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "flavor",
      "name": "Flavor",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "accent",
          "label": "Accent Color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "XXI Martinis"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Where to Buy"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "CTA Link"
    },
    {
      "type": "text",
      "id": "recipes_heading",
      "label": "Recipes Heading",
      "default": "Perfect For:"
    },
    {
      "type": "richtext",
      "id": "disclaimer",
      "label": "Disclaimer Text"
    }
  ]
}
{% endschema %}
